---
import Layout from '../layouts/Layout.astro';
import CoreNames from '../components/CoreNames/CoreNames';
---

<Layout title="Alan y América - Nuestros Recuerdos">
  <main>
    <CoreNames client:load />
  </main>
</Layout>

<style>
  main {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
</style>

